body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f6f6f6; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		90deg,
		#f6f6f6,
		#f6f6f6
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		90deg,
		#f6f6f6,
		#f6f6f6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 0.2em;
}

a {
	text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
	color: #0000ff;
}

.app-bar {
	-moz-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
	left: 0;
	width: auto !important;
	right: 0 !important;
	position: fixed !important;
}

.app-content {
	-moz-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
	padding-right: 20px !important;
	padding-top: 64px !important;
}

.app-bar.expanded {
	left: 255px;
}

.app-content.expanded {
	padding-left: 255px;
}
